/* home.css Revisar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}

.home {
    background-image: url("imagens/fundo_home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    gap: 20px;
}

.card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    border: 2px solid black;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
}

.card:hover {
    filter: brightness(1.08);
    transform: scale(1.02);
}

.bloqueado {
    opacity: 0.5;
    filter: grayscale(40%);
    cursor: not-allowed;
    box-shadow: none;
}

.btn-logout {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    transition: all 0.25s ease;
    background: linear-gradient(180deg, rgba(240, 217, 140, 0.3), rgba(212, 175, 55, 0.8));
    border: 2px solid rgba(240, 217, 140, 0.2);
    border-radius: 6px;
    color: #ddd;
}

.btn-logout:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.35);
}
