/* login.css Revisar */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login {
    background-image: url("imagens/fundo_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cadastro {
    background-image: url("imagens/fundo_cadastro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 360px;
    margin: 60px auto;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
}

label {
    display: block;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    background: transparent;
    color: #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2c7be5;
    color: white;
    cursor: pointer;
    border: 2px solid #00F;
    border-radius: 6px;
    background: rgba(44, 119, 229, 0.4);
    color: #ddd;
}

button:hover {
    background-color: rgba(26, 93, 201, 0.65);
}

a:link {
    color: #2c7be5;
}

a:visited {
    color: #2c7be5;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: #2c7be5;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    color: #ddd;
}
