<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    </head>
    <body>
        <main class="container">
        <h1>Cadastro</h1>

        <form id="cadastroForm">
            <label>
                Nome
                <input type="text" id="nome" required>
            </label>

            <label>
                Senha
                <input type="password" id="senha" required>
            </label>

            <label>
                Confirmar Senha
                <input type="password" id="confirmarSenha" required>
            </label>

            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Ir para Login</a>


        <p id="mensagem">Aguardando envio...</p>
        </main>


        <script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
    </body>
</html>